{% extends 'base/base.html' %}
{% block title %}Post Detail{% endblock %}
{% block content %}

<div class="col-md-8">
    <div class="card">
        <img src="{{ single.image.url }}" alt=""class="card-img-top">
        <div class="card-body" style="color:black;">
            <h5>{{ single.title }}</h5>
            <p>Created At: {{ single.created_at }}</p>
            <p>Updated At: {{ single.updated_at }}</p>
            <p>Author: {{ single.author }}</p>
            <hr>
            <p>{{ single.description}}</p>
        </div>
    </div>
</div>

{% endblock %}